sudo: true

language: java
jdk:
  - openjdk8

env:
  global:
    - GRADLE_OPTS=-Xmx512m

before_install:
  - sed -i 's#/usr/local/bin/protoc#/tmp/protobuf/bin/protoc#g' rejoiner/pom.xml
  - sed -i 's#/usr/local/bin/protoc#/tmp/protobuf/bin/protoc#g' rejoiner-grpc/pom.xml
  - sed -i 's#/usr/local/bin/protoc#/tmp/protobuf/bin/protoc#g' rejoiner-schema/pom.xml
  - ./travis_before_install.sh # build protoc into /tmp/protobuf

install:
  - mvn verify -Dgpg.skip

script:
  - mvn test

after_success:
  - mvn clean test jacoco:report coveralls:report

os:
  - linux

notifications:
  email: false

before_cache:
  - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
  - rm -fr $HOME/.gradle/caches/*/plugin-resolution/
cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/
